.teste {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;

  card {
    overflow: hidden;
    flex: 1 0 21%;
    margin: 15px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    max-width: 320px;
    text-align: left;
  }
}
