<div class="header">
  <div class="menu-box" [ngClass]="{'active': menuStatus}">
    <div class="menu-icon" (click)="toggleMenu()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <ul class="menu">
      <li (click)="goToRoute('/')">Home</li>
      <li (click)="goToRoute('/games')">Game List</li>
      <li (click)="goToRoute('/listupload')">Upload List</li>
      <li (click)="goToRoute('/consoles')">Consoles</li>
      <li (click)="goToRoute('/companies')">Companies</li>
      <li (click)="goToRoute('/teste')">Teste</li>
      <li (click)="goToRoute('/lista')">Lista</li>
    </ul>
  </div>
  <img [src]="'../assets/logo.png'" class="logo">
  <div class="user-box">
    <span *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</span>
    <button (click)="logout()" *ngIf="authService.user | async">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</div>
