<div class="top-bar">
  <i class="fas fa-plus-square" (click)="open(content)"></i>
  <form (ngSubmit)="changefilter()" class="login-box">
    <input [(ngModel)]="search" name="search" />
    <button type="submit">FILTRO</button>
  </form>
</div>

<button (click)="deleteselected()">DELETAR</button>
<input type="checkbox" [checked]="isAllChecked()" (change)="checkAll($event)">
<div class="panel panel-primary">
  <ng-container *ngFor="let game of games">
    <div class="panel-body">
      <!--<card [myData]="game"></card>-->
      <div class="card-box">
        <div class="actions">

          <i class="fas fa-edit" (click)="setedit(game._id)"></i>
          <i class="fas fa-trash-alt" (click)="confirmdelete(game._id)"></i>
          <input type="checkbox" [value]="game._id" [(ngModel)]="game.state">
        </div>
        <!--<img src="{{game.image.url}}" alt="{{game.image.name}}" class="upload-img" />-->
        <!--<image *ngIf="game.img!=''" [key]="game.img"></image>-->
        <div class="card-info">
          <h2>{{game.name}}</h2>
          <span *ngFor="let cat of game.keyconsole">
            <console [key]="cat"></console>
          </span>
        </div>
      </div>

    </div>
  </ng-container>
  <ul class="pagination">
    <ng-container *ngFor="let item of pages; let i = index" [attr.data-index]="item">
      <li *ngIf="item!='...'" (click)="changepage(item)" [ngClass]="{'active': item+1==currentpage}">{{item + 1}}</li>
      <li *ngIf="item=='...'" [ngClass]="{'active': item+1==currentpage}">{{item}}</li>
    </ng-container>
  </ul>
</div>



<ng-template #content let-modal>
  <form [formGroup]="model" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="form-group">
          <input type="text" formControlName="name" class="form-control" placeholder="Nome Game" />
        </div>
        <input type="hidden" formControlName="img" class="form-control" />
        <div class="form-group">
          <pick-upload [categoryinput]="'thumb'" [selectedkey]="model.value.img" (uploadsubmitted)='progressreturnimg($event)'></pick-upload>
        </div>
        <div class="form-group">

          <div *ngFor="let console of model.value.keyconsole"><console [key]="console"></console> <span (click)="excludeconsole(console)">X</span></div>
          <pick-console [selectedkey]="model.value.keyconsole" (submitted)='progressreturnimgconsole($event)'></pick-console>
        </div>
        <div class="form-group">

          <div *ngFor="let genre of model.value.keygenre">{{genre}} <span (click)="excludegenre(genre)">X</span></div>
          <pick-genre [selectedkey]="model.value.keygenre" (submitted)='progressreturnimggenre($event)'></pick-genre>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelar')">Cancelar</button>
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
  </form>
</ng-template>


<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        Deseja Excluir este registro?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelar')">Cancelar</button>
    <button type="button" class="btn btn-dark" (click)='deleteitem(model.value._id)'>Excluir</button>
  </div>
</ng-template>
