<div class="top-bar">
  <i class="fas fa-plus-square" (click)="open(content)"></i>
  <form (ngSubmit)="changefilter()" class="login-box">
    <input [(ngModel)]="search" name="search" />
    <button type="submit">FILTRO</button>
  </form>
</div>

<div class="panel panel-primary">
  <ng-container *ngFor="let game of games">
    <div class="panel-body">
      <card [myData]="game"></card>
    </div>
  </ng-container>
</div>



<ng-template #content let-modal>
  <form [formGroup]="model" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="form-group">
          <input type="text" formControlName="name" class="form-control" placeholder="Nome Game" />
        </div>
        <input type="hidden" formControlName="img" class="form-control" />
        <div class="form-group">
          <pick-upload [categoryinput]="'thumb'" [selectedkey]="model.value.img" (uploadsubmitted)='progressreturnimg($event)'></pick-upload>
        </div>
        <div class="form-group">

          <div *ngFor="let console of model.value.keyconsole"><console [key]="console"></console> <span (click)="excludeconsole(console)">X</span></div>
          <pick-console [selectedkey]="model.value.keyconsole" (submitted)='progressreturnimgconsole($event)'></pick-console>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelar')">Cancelar</button>
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
  </form>
</ng-template>


<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        Deseja Excluir este registro?
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancelar')">Cancelar</button>
    <button type="button" class="btn btn-dark" (click)='deleteitem(model.value.key)'>Excluir</button>
  </div>
</ng-template>
