<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped"
       role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
       aria-valuemin="0" aria-valuemax="100"
       [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%
  </div>
</div>

<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper [imageChangedEvent]="imageChangedEvent"
               [maintainAspectRatio]="maintainAspectRatio"
               [aspectRatio]="aspect"
               [resizeToWidth]="320"
               [onlyScaleDown]="true"
               format="png, jpg, jpeg"
               (imageCropped)="imageCropped($event)"
               (imageLoaded)="imageLoaded()"
               (loadImageFailed)="loadImageFailed()" *ngIf="imageChangedEvent"></image-cropper>

<img [src]="croppedImage" *ngIf="preview" />
<select  (change)="changeaspect($event)" [(ngModel)]="options" id="category">
  <option value="" disabled selected>select a category</option>
  <option *ngFor="let item of typelist" [ngValue]="item">{{item.category}}</option>
</select>
<button class="btn btn-success" [disabled]="!selectedFiles"
        (click)="imageSave()">
  Upload
</button>
