
<div class="login-box">
  <div class="logo">
    <img src="/assets/logo.png" />
  </div>
  <input type="text" [(ngModel)]="email" placeholder="Email">
  <input type="password" [(ngModel)]="password" placeholder="Senha">


  <button type="submit" (click)="login()">
    Login
  </button>
</div>


<video data-object-fit="cover" muted="" playsinline="" webkit-playsinline="" loop="" autoplay="" poster="//media.playstation.com/is/image/SCEA/playstation-accessories-flow-background-1920by1080-01-us-11jul17?$native_md_nt$" class="cover-video">
  <source src="assets/bg-video.mp4">
</video>
<div class="over-video"></div>
