<input type="text" [(ngModel)]="email" placeholder="email">
<input type="password" [(ngModel)]="password" placeholder="senha">


<button (click)="login()" [disabled]="!email || !password">
  Login
</button>


<video data-object-fit="cover" muted="" playsinline="" webkit-playsinline="" loop="" autoplay="" poster="//media.playstation.com/is/image/SCEA/playstation-accessories-flow-background-1920by1080-01-us-11jul17?$native_md_nt$" class="cover-video">
  <source src="//media.playstation.com/is/content/SCEA/content/dam/explore/ps4/scea/us/fall2017/videos/playstation-4-video-hero-01-ps4-us-01feb18.mp4">
</video>
<div class="over-video"></div>
